<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/home" *ngIf="global.currentRoute === '/dashboard'">SYNKRON</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto" *ngIf="!global.member">
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="global.member">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          {{ global.member.first_name }}&nbsp;{{ global.member.last_name }}
        </a>
      </li>
    </ul>
  </div>
</nav>